@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
   box-sizing: border-box;
}

body {
  font-family: 'Tinos', serif;
  background-color: #ffe6cc;
}

.website-header {
  background-color: #ffd9b3;
  border: 4px dotted #ffb366;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.website-icon {
  margin-bottom: -30px;
}

blockquote {
  font-weight: bold;
  font-style: italic;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

nav {
  background-color: #ffe0b3;
  border: 4px dotted #ffc266;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 50px;
  padding-right: 20px;
  width: max-content;
}

nav a {
  color: #ff8000;
}

nav a:hover {
  color: #995c00;
}

nav a:visited {
  color: #c68c53;
}

main {
   padding: 10px;
   overflow: auto;
}

.content {
  background-color: #ffcc80;
  border: 5px double #ffad33;
  border-radius: 5px;
  float: left;
  font-size: 110%;
  width: 70%;
  padding: 15px;
}

.content a, footer a {
  color: #806000;
}

.content a:hover, footer a:hover {
  color: #ffecb3;
}

.content a:visited, footer a:visited {
  color: #997300;
}

h2, h3 {
  text-align: center;
  margin: auto;
}

.main-image {
  display: block;
  margin: auto;
  max-width: 50%;
  margin-top: 20px;
  border: 2px solid #b36b00;
  border-radius: 15px;
}

.tea-image {
  display: block;
  margin: auto;
  max-width: 40%;
  margin-top: 10px;
  border: 2px solid #b36b00;
  border-radius: 10px;
}

aside {
  background-color: #ffcc66;
  border: 3px dashed #cc8800;
  border-radius: 5px;
  float: right;
  padding: 10px;
  padding-top: 10px;
  text-align: center;
  width: 25%;
}

aside img {
  margin-top: 10px;
  max-width: 80%;
}

footer {
  background-color: #ffbf80;
  border: 2px dashed #ff8c1a;
  border-radius: 5px;
}

footer h3 {
  margin-top: 10px;
}

footer li {
  margin-right: 50px;
  margin: 2px;
}

.cit-top {
  font-size: 70%;
}

.cit:target, .cit-ref:target {
  background-color: #ffe0b3;
}

@media screen and (max-width: 1080px) {
     .content {
       font-size: 120%;
       margin-bottom: 20px;
       padding: 5;
       width: 100%;
    }
    aside {
      font-size: 150%;
      margin-bottom: 10px;
      width: 100%;
    }
     nav {
       font-size: 110%;
       margin-left: 20px;
     }
}
